[2012-12-23 13:57] marcoancona opened #1 "File missing?"
I think files are missing from the repo.
You say

 Copy the file `pjsip/config_site.h` to `pjlib/include/pj/config_site.h

but there is not pjlib directory. Or I am missing something?

[2013-01-07 10:18] chakrit commented on #1
@exeltior It's actually relative to the PJSIP source folder which actually is at `pjsip/source/pjlib` . Sorry for the late reply, I was on vacation.

Will update README later.

[2013-01-07 10:18] #1 closed, assigned to nobody

[2013-06-30 09:57] sourabhletsgomo commented on #1
please help me out i am not getting how to compile this.
where to put config_site.h

[2013-06-30 12:03] sourabhletsgomo opened #3 "building error"
Please help me out i am stuck with the basic implementation i am not getting how to compile this.
It always says no such file or directory found when building ./build-pjsip.
Please help me out its very urgent

Thanking you in anticipation

[2013-07-01 07:53] sourabhletsgomo commented on #3
i compiled but i am getting an error
![screen shot 2013-07-01 at 1 21 28 pm](https://f.cloud.github.com/assets/4457503/728953/30792bb4-e223-11e2-8dd6-ed26073668c4.png)
please check dis out and respond me please sir

Thanking you in anticipation

[2013-07-02 04:26] chakrit commented on #3
Not sure if I can help you here but please at least give some more info.

Can you show me how you are initializing PJSIP?
Also what version of Xcode / iOS are you using?

[2013-07-02 04:34] sourabhletsgomo commented on #3
GSAccountConfiguration *account = [GSAccountConfiguration defaultConfiguration];
    account.address = @"ssssingh@sip.antisip.com";
    account.username = @"ssssingh";
    account.password = @"12345qaz";
    account.domain = @"sip.antisip.com";
    account.proxyServer = @"sip.antisip.com";
    [accounts addObject:account];
i used this account sir

i am using xcode 4.6.2 and ios 6.1

[2013-07-02 04:34] chakrit commented on #3
What are you running? The example app ?

[2013-07-02 04:35] sourabhletsgomo commented on #3
Yes , the example app , actually i have to make a sdk which includes wrapper for pjsip in objective c

[2013-07-02 04:39] sourabhletsgomo commented on #3
earlier the app doesn't build because the build-pjsip command does not make files which are required as given in header search path,
Sir you have written awesome code which provides me way to think like this as i dont have to implement all features .

[2013-07-02 04:43] chakrit commented on #3
Hmmm, that should be good to go. Not sure what happens there. If you replace the PJSIP binaries it might work. Try builds from https://github.com/chebur/pjsip

[2013-07-02 04:44] sourabhletsgomo commented on #3
10:12:22.605 os_core_unix.c !pjlib 2.1-svn for POSIX initialized
10:12:22.611 sip_endpoint.c  .Creating endpoint instance...
10:12:22.615          pjlib  .select() I/O Queue created (0x20289144)
10:12:22.615 sip_endpoint.c  .Module "mod-msg-print" registered
10:12:22.616 sip_transport.  .Transport manager created.
10:12:22.617   pjsua_core.c  .PJSUA state changed: NULL --> CREATED
10:12:24.691   p

[2013-07-02 04:46] sourabhletsgomo commented on #3
please have a look sir because this is what we are searching for and i will be highly obliged to you

[2013-07-02 04:47] chakrit commented on #3
Seems you are trying to use G.729, it tends to have a lot of problems. If you can avoid it for the time being, it will probably work better.

The G.729 patch is having a problem right now, please try without it for the time being.

I'm patching the code to use an alternative builds of G.729 but not guarantee on when i will be done with it.

[2013-07-02 04:51] sourabhletsgomo commented on #3
Ok means you are going to change the codec from g729 to anything else

[2013-07-02 04:52] chakrit commented on #3
No I still need it but there were lots of problems with it so I'm looking to switch to https://github.com/lemenkov/bcg729 for it.

[2013-07-02 04:57] sourabhletsgomo commented on #3
sir can we use g711 codec because in many applications i have seen g711

[2013-07-02 05:03] chakrit commented on #3
@sourabhletsgomo then it's probably best to build pjsip without the  G.729 patch.

If you check the `build-pjsip` scripts there were some lines that runs `git apply` to patch the codebase, if you remove those lines and re-build the binaries it might solve the problem you have now.

Give it a go.

[2013-07-02 05:08] sourabhletsgomo commented on #3
when i try to build build-pjsip then
/Users/letsgomo028/Desktop/imp/gossip-master/pjsip/build-pjsip: line 6: cd: source: No such file or directory

In directory: /Users/letsgomo028
fatal: Not a git repository (or any of the parent directories): .git

Will do inside the pjsip source folder:
    GIT CLEAN -XDF
    GIT RESET --hard HEAD

CTRL+C to cancel now or be _VERY_ sure you want to proceed by p

[2013-07-02 05:09] chakrit commented on #3
ah  you need to check out git submodules as well.

`git submodule update --init --recursive`

[2013-07-02 05:12] sourabhletsgomo commented on #3
![screen shot 2013-07-02 at 10 41 32 am](https://f.cloud.github.com/assets/4457503/734681/e72787a4-e2d5-11e2-87fb-a5f9649fee8c.png)
when i extracted your project zip then i didnt find git submodules

[2013-07-02 05:13] chakrit commented on #3
Extract zip?! Please clone it from github using the `git` command.

[2013-07-02 05:15] sourabhletsgomo commented on #3
[code]

which line i have to remove

[2013-07-02 05:22] chakrit commented on #3
[code]

IIRC

[2013-07-02 05:34] sourabhletsgomo commented on #3
after doing this pj/config_site.h file not found error while building ,
but i had compiled earlier the pjsip and i had given path to my compiled file in header search path

[2013-07-02 05:40] sourabhletsgomo commented on #3
sir then also the same error

[2013-07-02 05:42] chakrit commented on #3
Remove these two lines:

[code]

Copy `config_site.h` from `pjsip/config_site.h` to `pjsip/source/pjlib/include/pj`.

Then try again.

[2013-07-02 05:51] sourabhletsgomo commented on #3
~/Desktop/sssourabh/gossip/pjsip ~/Desktop/sssourabh/gossip/pjsip
when i try to run build-pjsip the it says this and i deleted all you said
In directory: /Users/letsgomo028/Desktop/sssourabh/gossip/pjsip/source

Will do inside the pjsip source folder:
    GIT CLEAN -XDF
    GIT RESET --hard HEAD

CTRL+C to cancel now or be _VERY_ sure you want to proceed by pressing any key.

[2013-07-02 06:00] sourabhletsgomo commented on #3
please dont mind sir but pls you check that call is going or not

[2013-07-02 06:00] chakrit commented on #3
you mean you want to check if the call is successful?

[2013-07-02 06:06] sourabhletsgomo commented on #3
Yes sir i want you to call at your own level or me at sssourabh@sip.antip.com
one thing more sir in GSConfiguration.m
// TODO: Probably better to do via class_copyPropertyList.
    replica.logLevel = self.logLevel;
    replica.consoleLogLevel = self.consoleLogLevel;
    replica.transportType = self.transportType;

[code]

there is no config for media or codec

[2013-07-02 06:08] chakrit commented on #3
I cannot do that right now.

Please use something like https://www.counterpath.com/x-lite.html to test it.

Run X-lite on your machine signed in to another SIP account on the same server.
Then run the test app on the phone and dial it.

---

For media codecs, PJSIP doesn't let you configure it that way. You'll just have to adjust the codec priorities so it picks the one you want first. i.e. set co

[2013-07-02 06:10] sourabhletsgomo commented on #3
sir actually when i call on the desired address it gives that trap error

[2013-07-02 06:12] chakrit commented on #3
Play with the codec priorities. See if it's specific to that codec.

Can't help you more than that now.

You might have better luck working with the PJSIP guys directly.

[2013-07-02 06:19] sourabhletsgomo commented on #3
thank you sir thanks for help , but if you get time to test call then please make it and give your feed back

[2013-07-03 04:59] sourabhletsgomo commented on #3
@hlung -- please check this as i am geting error while running it and i am not able to figure it out

[2013-07-03 05:35] hlung commented on #3
@sourabhletsgomo what error are you getting? did you manage to compile gossip?

[2013-07-03 06:06] sourabhletsgomo commented on #3
Yes sir but when i make a call then pjsua_call_media_init TRAP and applicaton crashes as i discussed above

[2013-07-03 06:09] sourabhletsgomo commented on #3
but to compile it i had used replaced the path in header search paths in gossip because when i give ./build-pjsip it do not create anything

[2013-07-03 07:20] hlung commented on #3
What is the output when you run ./build-pjsip ?

[2013-07-03 07:23] sourabhletsgomo commented on #3
Last login: Wed Jul  3 12:52:11 on ttys002
Letsgomos-Mac-mini-3:~ letsgomo028$ cd /Users/letsgomo028/Desktop/sssourabh/gossip/pjsip
Letsgomos-Mac-mini-3:pjsip letsgomo028$ ./build-pjsip
~/Desktop/sssourabh/gossip/pjsip ~/Desktop/sssourabh/gossip/pjsip

In directory: /Users/letsgomo028/Desktop/sssourabh/gossip/pjsip/source

Will do inside the pjsip source folder:
    GIT CLEAN -XDF
    GIT RESET --

[2013-07-03 07:35] hlung commented on #3
Your "configure-iphone" file is missing. And it's in pjsip submodule.
Did you run `git submodule init` then `git submodule update` ?

[2013-07-03 07:36] sourabhletsgomo commented on #3
no but where is pjsip submodule

[2013-07-03 07:38] hlung commented on #3
It's already configured in the gossip repository. Just clone the repo, then run `git submodule init` then `git submodule update` dude.

[2013-07-03 07:40] sourabhletsgomo commented on #3
after cloning the gossip from url https://github.com/chakrit/gossip.git i have to run this command

[2013-07-03 07:46] hlung commented on #3
of course

[2013-07-03 07:50] sourabhletsgomo commented on #3
i got it sir thanks for your resoponse .
thank you very much sir

[2013-07-03 07:52] hlung commented on #3
no problem sir

[2013-07-03 08:02] sourabhletsgomo commented on #3
i had done that and i build the ./build-pjsip after it is complete i had made a call and it gives error  after this also the same error , i am not able to figure it out . please help me
![screen shot 2013-07-03 at 1 30 30 pm](https://f.cloud.github.com/assets/4457503/741761/cf5fcfd2-e3b6-11e2-983e-96ca964960ac.png)

[2013-07-03 09:03] sourabhletsgomo commented on #3
Please help me @hlung

[2013-07-03 09:10] hlung commented on #3
I have no idea on this one sorry.

[2013-07-03 09:19] sourabhletsgomo commented on #3
where should is ask any sip guys u know u pls forward there id i will ask them , its urgent please sir

[2013-07-14 13:47] yosit opened #4 "initializing pjsip from a worker thread"
Hi,
Thanks for the great work you did on this library.
Are you planing to support initializing pjsip from a worker thread per the recommendation in: http://trac.pjsip.org/repos/wiki/PJSUA_Initialization

[2013-07-14 16:44] chakrit commented on #4
From a quick scan it looks like this is not hard to do. But not sure what are the actual benefits of supporting this in ObjC land? I haven't encountered much info about PJSIP and worker thread usage. If you can provide some good use case that'd be useful.

[2013-07-14 17:22] yosit commented on #4
Thanks for the fast response.
pjsip initialization is blocking the ui thread so when ever the app starts
it will actually freeze trying to connect to the pbx.
I think it should be a must to support it. I've managed to do it on top of
pjsip.

On Sun, Jul 14, 2013 at 7:44 PM, Chakrit Wichian
notifications@github.comwrote:

##

##

Yosi Taguri | Co-Founder | Labgoo | iPhone: http://ahhhpah.com | twit

[2013-08-06 09:00] hlung opened #5 "Enhancement: don't forget to check if connection fails."
Not really an issue. It's just a point to aware. Any connect (`GSAccount -connect`) sent right after disconnect (`[[GSUserAgent sharedAgent] reset]`) will fail (`pjsua_acc_set_registration` returns `PJ_FALSE`) because pjsip blocks the app for about 1 second after disconnect to wait for its server requests to complete.

If you already check if connect fails then it's fine. Maybe there should be a t

[2013-08-23 14:34] mohitsud opened #6 "G.729 and PJSIP"
Hi Their,

 I am having an issue using your G.729 patch when compiling PJSIP. Could you provide more instructions on how to get this to work?

Thank you.

[2013-08-23 15:46] sourabhletsgomo commented on #6
I think g729 did not work with pjsip

Sent from my iPhone

On 23-Aug-2013, at 8:04 PM, Mohit Sud notifications@github.com wrote:

[2013-08-23 16:32] mohitsud commented on #6
Thanks for the reply.

This tutorial says it  should work:
http://trac.pjsip.org/repos/wiki/Intel_IPP_Codecs

But I am not sure how to tie the two together.

[2013-08-25 07:59] chakrit commented on #6
@mohitsud that requires the Intel IPP codecs. You need to pay Intel to use it AFAIK.

[2013-08-25 13:14] sourabhletsgomo commented on #6
oh yes i remember just now, i and my team had made a framework for ios
based on pjsip
yes you are correct we also face he same problem

On Sun, Aug 25, 2013 at 1:29 PM, Chakrit Wichian
notifications@github.comwrote:

[2013-08-25 20:11] mohitsud commented on #6
Hi there,

Thank you for the reply. I am happy to pay for the G.729 codec, but I am not sure how to compile PJSIP with it . Do you have any suggestions?

[2013-08-26 03:31] chakrit commented on #6
Hmm, just check the PJSIP docs. Also the script to build the binaries is https://github.com/chakrit/gossip/blob/master/pjsip/build-pjsip You might want to look at them and adjust.

[2013-08-26 03:32] chakrit commented on #6
Will take a look and update you with specifics if i have time.

[2013-08-26 06:58] sourabhletsgomo commented on #6
@mohit - actually we continued with other codecs as per our requirement .
                   If you do that please update me if you can

On Mon, Aug 26, 2013 at 9:02 AM, Chakrit Wichian
notifications@github.comwrote:

[2013-08-26 13:09] mohitsud commented on #6
Hi Chakrit,

If you could please provide specifics that would be most appreciated.

Thank you.

[2013-10-11 15:34] DAOCUONG commented on #3
I have the same problem dont know why it was crashed when making call and received call, any one can give a hint?

[2013-12-17 18:58] amozheyko commented on #3
And I have the same problem(((
It crashes when I try to make a call.. iOS 7

[2014-03-03 11:44] saurabhsharma opened #7 "Can't connect to getonsip.com"
I compiled this successfully thanks!!
But I am not able to connect with getonsip.com.
Using these -

account.address = @"saurabhsharma@getonsip.com";
account.username = @"getonsip_saurabhsharma";
account.password = @"tWEyNkVMEfFiw66z";
account.domain = @"getonsip.com";
account.proxyServer = @"sip.onsip.com";

Any idea what may be wrong?

[2014-03-03 14:45] saurabhsharma commented on #7
Also tried sip2sip.com account.. but no luck.. definitely something wrong with code.. ?

[2014-03-03 15:30] chakrit commented on #7
Can you paste some log message? There should be some output from PJSIP. Not sure if the default config logs everything tho.

[2014-03-04 06:30] saurabhsharma commented on #7
Here is console log -

11:57:27.616 os_core_unix.c !pjlib 2.1-svn for POSIX initialized
11:57:27.628 sip_endpoint.c  .Creating endpoint instance...
11:57:27.636          pjlib  .select() I/O Queue created (0x1f9d1334)
11:57:27.637 sip_endpoint.c  .Module "mod-msg-print" registered
11:57:27.637 sip_transport.  .Transport manager created.
11:57:27.639   pjsua_core.c  .PJSUA state changed: NULL --> C

[2014-03-04 15:24] chakrit commented on #7
[code]

Are you sure you have put in the right settings?
Can you try with another SIP program on your local machine and see if the setting works?

[2014-03-04 15:24] chakrit commented on #7
Looks like it cannot find the server there or there's some kind of firewall between you and the SIP server.

[2014-04-28 06:38] wongshandev commented on #3
any friend here?It crashes when I try to make a call.. iOS 7,any friend help me? @chakrit @hlung ,
and i try download the last pjsip project from http://www.pjsip.org/ (PJSIP version 2.2.1) ,and have same problem!

[2014-04-28 06:48] chakrit commented on #3
@DAOCUONG @MADzone @wongshandev Can you all give me some sample codes / log output or whatever you guys have? I'll investigate and get this thing up to date during the end of the month or around that time.

G.729 will not be supported though. It will takes too much time with all the arcane and indecipherable compilation and linking issues.

[2014-04-28 07:25] wongshandev commented on #3
@chakrit @hlung  tks sir,log:

14:20:25.498 os_core_unix.c !pjlib 2.1-svn for POSIX initialized
14:20:25.503 sip_endpoint.c  .Creating endpoint instance...
14:20:25.506          pjlib  .select() I/O Queue created (0x183c373c)
14:20:25.506 sip_endpoint.c  .Module "mod-msg-print" registered
14:20:25.506 sip_transport.  .Transport manager created.
14:20:25.506   pjsua_core.c  .PJSUA state changed: NU

[2014-04-30 03:35] wongshandev commented on #3
my friend,pls edit file(build-pjsip) :export ARCH="-arch armv7"  -> export ARCH="-arch armv7 -arch armv7s", A7 use armv7s ! @chakrit @hlung :8ball:

[2014-05-12 17:38] muzammil-hussain opened #8 "DTMF digits ?"
How to send DTMF commands via gosip

[2014-05-12 18:24] chakrit commented on #8
Hmmm :/ Is that supported by PJSIP ?

If you can lookup the right PJSIP call I might be able to add a nice API for it.

[2014-05-13 09:44] muzammil-hussain commented on #8
Yes PJSIp does support it. Followign is pjsip call
pj_status_t     pjsua_call_dial_dtmf (pjsua_call_id call_id, const pj_str_t *digits)

[2014-05-20 15:04] muzammil-hussain opened #9 "Cellular call interrupts VoIP call"
Hi,
    Its known issue that if Voip call is in progress and phone receives a normal cellular call then Voip call is sent to background and after call is disconencted VoIP call is retrievd and is still in progress but media is lost. Can you please check it

[2014-05-20 21:30] pennomi commented on #9
Looks like it's this problem: http://trac.pjsip.org/repos/wiki/Getting-Started/iPhone#interruption

[2014-05-21 09:52] muzammil-hussain commented on #9
I have already tried this but it did not work. I get error
14:52:14.774 ERROR:     [0x4927000] AVAudioSessionPortImpl.mm:50: ValidateRequiredFields: Unknown selected data source for Port iPhone Microphone (type: MicrophoneBuiltIn)

[2014-06-24 17:13] pennomi opened #10 "SRV DNS records fail to resolve"
AFAICT, PJSIP supports SRV DNS records, but Gossip doesn't. When I attempt to connect to my SIP server, I simply get a timeout.

What needs to be done so my app can connect properly? (I'm happy to submit a pull request once I have it figured out, but I'm not really sure where to start.)

[2014-06-25 08:23] chakrit commented on #10
@pennomi Can you lookup on the PJSIP docs and see if I need to call any specific function or is there any specific configuration I should be doing?

The PJSUA API manual might be a good start: http://www.pjsip.org/docs/latest/pjsip/docs/html/group__PJSUA__LIB.htm

Also, you might be able to tweak the configure function to do something about it:
https://github.com/chakrit/gossip/blob/master/Gossip/

[2014-06-25 17:19] pennomi commented on #10
I've also been on the mailing list. Here's the response I got:

Grepping through Gossip shows that it's not calling those functions anywhere. Is that a better place to start?

[2014-06-25 23:31] pennomi commented on #10
Update from the mailing list with very specific directions:

And from a source code comment:

[2014-06-26 08:12] chakrit commented on #10
@pennomi Yep, that should be it. Add some resolver configuration calls into `[GSUserAgent configure:]` method and you should be good to go. When it comes to PJSIP, when it works it works really well as long as you get the right calls.

IIRC There is already and `pjsip_endpoint` being created in that method.

Otherwise I'll look into this maybe during this Saturday or Sunday.

[2014-06-26 08:14] chakrit commented on #10
Just hardcode google's public DNS into it (or make an entry for configuring it in the configuration class.)

[2014-06-26 18:09] pennomi commented on #10
Okay, good news. I've got this working on my app. I'll clean up my code and submit a pull request to you tonight or tomorrow.

As far as the pull request is concerned, would you prefer hardcoding Google's DNS or that I make it configurable (with Google as the default, of course)?

[2014-06-27 06:50] chakrit commented on #10
Awesome : ) Either way is fine by me.

Having it configurable would be nice but IMO only a very small % of people would want to change it since it's just DNS.

[2014-07-01 14:04] chakrit commented on #10
Merged #11

[2014-07-01 14:04] #10 closed, assigned to nobody

[2014-07-08 09:55] jyotiSharma1 commented on #4
Hi Chakrit,
Since tommorow i'm trying to compile the source code you provided but it doen't work.Initially it gives "Config_site.h" file is missing then i added pjsip library but still it gives me the issues and not compiled.Can you please tell me the proper way for compiling it on xcode both on devices as well as on simulator.

[2014-07-11 05:54] jyotiSharma1 opened #12 "Not getting compiled"
Hi,
i'm working on it since 4 days but haven't found any way to compile it.Everytime it gives missing message of some files.Please help me and post a proper way through a doc file to compile the same.

Thanks & Regards
iOS Developer

[2014-07-12 05:16] chakrit commented on #12
The referenced PJSIP repository is updated every now and then and supposedly, the referenced commit in gossip has been removed/updated. I will update both PJSIP and gossip and let you know.

[2014-07-12 16:50] chakrit commented on #12
@jyotiSharma1 I have just updated both GOSSIP and PJSIP to latest version. Can you try from scratch again?

[2014-07-12 16:55] chakrit commented on #8
@muzammil-hussain I have added a `[GSCall sendDTMFDigits:(NSString *)]` method. There are also some changes in the latest commit. Can you try and let me know if this works for you?

[2014-07-12 16:57] chakrit commented on #7
Closing due to no input from the OP.

[2014-07-12 16:57] #7 closed, assigned to nobody

[2014-07-12 16:58] chakrit commented on #6
Due to time constraints I don't think I will be able to support the G.729 patch in anyway from now. I have since removed all the related files. You can find my original fork at http://github.com/oozou/gossip if you still need them (or just go back in time using git)

G.729 seems to be a patent-ridden codec and there are barely any working implementation available let alone a patch that would integ

[2014-07-12 16:58] #6 closed, assigned to nobody

[2014-07-12 17:01] chakrit commented on #5
Ah, there're a whole host of issues regarding that + worker threads :/ Ugh.

[2014-07-12 17:01] chakrit commented on #5
reference: #4

[2014-07-12 17:03] chakrit commented on #3
I have since updated all the build scripts to use a more robust approach now. Also included in the repo is a fat binary that should work for all architecture so you guys won't have to build it yourself.

Gonna close this issue for now. Open a new issue if you still have trouble getting GOSSIP to compile with the specific error you get so I can debug them.

[2014-07-12 17:04] #3 closed, assigned to nobody

[2014-07-12 17:04] chakrit commented on #8
Gonna close this for now, feel free to reopen if this does not work.

[2014-07-12 17:04] #8 closed, assigned to nobody

[2014-07-12 17:06] chakrit commented on #9
Not sure if there is a good way to handle this in GOSSIP. PJSIP probably has some some hook I can plug into, then I can pause or background the calls. Needs further research (aka time).

Feel free to PR if anyone manages to figure this out : )

[2014-07-14 05:47] jyotiSharma1 commented on #12
@chakrit : Hi Chakrit, Hope you're doing well!
Firstly,Thanks for your reply.
I tried it again but it's still giving me the same issue of missing files.

[2014-07-14 06:03] chakrit commented on #12
Which file is missing? Have you do the submodule checkout thing?

[2014-07-14 09:23] jyotiSharma1 commented on #12
'pj/config_site.h' file not found

[2014-07-14 09:25] jyotiSharma1 commented on #12
initially too it gave me the same ,actually it give the same for every file started with pj,as it doesn't get pj folder.Please tell me the steps to add it in project.

[2014-07-14 10:12] jyotiSharma1 commented on #12
@chakrit :Also when i'm sub moduling it as ypu mentioned over here,i got this

Submodule path 'pjsip/src': checked out 'b0af6c8fc8ed97bb03d3afa4ab42c24f46a9212b'
Unable to checkout '34fcf7a8574c80fb23a3e22b57bc3b38eafe3837' in submodule path 'docs'

[2014-07-14 10:12] jyotiSharma1 commented on #12
not getting the what the issue in it.

[2014-07-14 10:13] chakrit commented on #12
`docs` folder is not really needed so you can ignore that.

[2014-07-14 10:15] chakrit commented on #12
How are you linking against Gossip?

[2014-07-14 10:16] jyotiSharma1 commented on #12
i have just downloaded the code n start running it.It gave files missing issue .so i deleted pjsip folder and added again but still it gives me the same

[2014-07-14 10:17] jyotiSharma1 commented on #12
I says error on this this time :
#import <pj/config_site.h>

and in your project there is not any folder  for pj....

[2014-07-14 10:19] jyotiSharma1 commented on #12
@chakrit : can you tell me step by step process to get the project working ,as it's very urgent for me.

[2014-07-14 10:19] chakrit commented on #12
i think the header search path settings might be incorrect somewhere. what is the value of your  header search path settings?

This is what I have on my machine which is the same as the latest commit:

![](https://dl.dropboxusercontent.com/s/mjq5lheud6reit7/2014-07-14%20at%205.17%20PM.png)

And it builds and runs fine.

[2014-07-14 10:21] chakrit commented on #12
There is no `pj` folder because it is an external dependency. They reside in the PJSIP source tree. What is needed is the PJSIP submodule properly checked out and the header search path settings intact and they should compile.

[2014-07-14 10:21] jyotiSharma1 commented on #12
![screen shot 2014-07-14 at 3 50 17 pm](https://cloud.githubusercontent.com/assets/8101189/3569524/9ae25ea2-0b40-11e4-87fc-952026246a68.png)

[2014-07-14 10:21] jyotiSharma1 commented on #12
i'm getting this

[2014-07-14 10:21] chakrit commented on #12
BTW I'm on Xcode 5.1.1 just in case.

[2014-07-14 10:22] chakrit commented on #12
Hmmm... the release list is broken. Fixing...

[2014-07-14 10:23] jyotiSharma1 commented on #12
ok,Have you got the issue?

[2014-07-14 10:24] chakrit commented on #12
Ok, can you try `git pull` on the gossip project root folder and try building again?

[2014-07-14 10:27] jyotiSharma1 commented on #12
doing...trying

[2014-07-14 10:29] jyotiSharma1 commented on #12
i have write "git pull " command on terminal but it doesn't do anything

[2014-07-14 10:29] jyotiSharma1 commented on #12
Gossip.xcodeproj/project.pbxproj | 9 ++++++++-
 1 file changed, 8 insertions(+), 1 deletion(-)

[2014-07-14 10:30] jyotiSharma1 commented on #12
It gives me this part on terminal
can you tell me what does  it mean? @chakrit

[2014-07-14 10:35] chakrit commented on #12
It means you get some of the changes I've made to the `project.pbxproj` file. Does it build now?

[2014-07-14 10:36] jyotiSharma1 commented on #12
No :(

[2014-07-14 10:36] jyotiSharma1 commented on #12
gives me same

[2014-07-14 15:07] chakrit commented on #12
What is your xcode version. Don't really see what could go wrong.

[2014-08-11 17:04] oxcug opened #13 "CocoaPods issue"
Issue was reported here: https://github.com/CocoaPods/CocoaPods/issues/2368

I'll see if I cannot remedy the issue in the podfile in this repo (if I can grab the time) or if someone else want's to do it before me, feel free. Otherwise I'll try to get a merge request in soon.

[2014-08-12 06:05] chakrit commented on #13
Whoops, let me fix that.

[2014-08-12 06:19] chakrit commented on #13
I've fixed the podspec file as suggested but I have not fully tested it yet. I think it may not build because the PJSIP libs and headers might need to be included in the download (which I don't think is a good idea.) It is probably best to setup this up manually, for now.

A PR that would properly setup this repo to work the PJSIP pod that's already in the specs repo would be most welcome : )

[2014-08-12 12:51] oxcug commented on #13
I've included PJSIP through another pod https://github.com/chebur/pjsip. It works fairly well, but I don't know how it'll work with both being imported using cocoapods. I'll test it later today and report back.

[2014-08-12 21:10] oxcug commented on #13
There are some linker errors (as you predicted). The best solution I would think would be to either include pjsip or to set the search paths to assume they're using the pjsip pod. I've been tinkering with the search paths trying to get them to work from within the Pods project.

So far it's not working out too well. I'll keep cracking at it and see what happens and may be able to just edit the pod

[2014-08-13 06:14] chakrit commented on #13
Yeah including PJSIP with the pod is the easiest way right now. If you can wait until the weekends I'll look into setting up proper CocoaPod dependency and see what I can do.

[2014-08-19 06:26] troya2 opened #14 "Duplicate Symbols"
I followed the read me, including building a fat binary.  I included the project into my workspace and added libc++.dylib to my project to get everything to compile.  However, I'm getting 56 duplicate symbols in libGossip.o when linking.  One from error.o, about half in sdp.o, and the rest in sdp_cmp.o.

duplicate symbol _pjmedia_strerror in error.o
duplicate symbol _pjmedia_sdp_attr_create in sdp

[2014-08-19 13:16] chakrit commented on #14
Hmmm, how does your build settings looks like? Are you by any chance linking PJSIP twice? I think there might be some duplicate libs being linked somewhere (from Gossip or otherwise.) I'll give a full fresh build this weekend and see if there's anything to be updated but that's my initial thoughts.

Also, feel free to PR if you find anything broken or incorrect. : )

[2014-08-19 17:53] troya2 commented on #14
I think it was my mistake - I added libGossip.a to my link build phase.  I didn't realize that Xcode would link to it automatically because it is part of the workspace.

[2014-08-19 23:24] troya2 commented on #14
On further investigation, it appears that libGossip.a does need to be in the link build phase, and that results in the duplicate symbols.  I ran `ar` on libGossip.a and see that there are a number of .o files duplicated - is this normal, or could it be the source of the problem?  The duplicated .o files are:

% ar xv libGossip.a  | sort | uniq -d
x - endpoint.o
x - errno.o
x - json.o
x - lpc.o
x -

[2014-09-12 16:20] jlubeck commented on #9
Anyone got a way to prevent that error?

[2014-10-13 14:55] jasjisdo opened #16 "Incoming call is disconnecting immediately after connect."
Hi chakrit,
i wrote this simpler example to evalutate your wrapper library:
https://gist.github.com/jasjisdo/dbfac9530026760b6738

but if i call my app with the Gossip Example app, it connect to my app and it disconnect immediately.
here are my log files with loglevel = 5 of both clients:
https://gist.github.com/jasjisdo/87959957568f3404ea9e

what did i wrong?
Start a call from my GSEMySipApp to G

[2014-10-16 08:48] AbhinayMe opened #17 "Build success but cannot run example app"
Build success but cannot run example app

Can anyone give instructions to run example app in device or simulator?

[2014-10-22 09:06] vdtuan commented on #12
@jyotiSharma1 did you get the solution for this issue?
@chakrit here is my progress:
step 1: run:
git clone git://github.com/chakrit/gossip.git
cd gossip
git submodule init
git submodule update --recursive
=> Unable to checkout '34fcf7a8574c80fb23a3e22b57bc3b38eafe3837' in submodule path 'docs'
it can be ignored (as you said before).
step 2:
cd to gossip folder and open Gossip.xcodeproj
step 3:
bu

[2014-10-22 09:34] vdtuan commented on #12
hmm, i fixed it!
This is my solution:
Go to the pj folder and create new config_site.h (it includes site/user specific configuration to control PJLIB features).

[2014-10-27 13:46] chausov opened #18 "Multiple PGSIP accounts"
Why do you use only one account per session supporting in your library? Is there a reason for this?
I looked around and understood, that complex changes needed for supporting multiple accounts in your library.

[2014-11-07 03:30] vdtuan opened #19 "The sound is very noisy"
Can anyone give instructions to reduce noise.
currently, I have:
speex/16000/1
speex/8000/1
speex/32000/1
iLBC/8000/1
GSM/8000/1
PCMU/8000/1
PCMA/8000/1
I would like to use G711 codec.
what should I do now?

[2014-12-08 19:08] johnryan opened #20 "Handling IP Address Changes"
Is there any mechanism to re-establish a connection after a device IP change? i.e. toggling airplane mode.

[2015-01-29 09:23] liyoro opened #21 "when makecall，Disconnected！"
17:18:22.194    pjsua_acc.c !....sip:6004@202.105.215.105:5060: registration success, status=200 (OK), will re-register in 300 seconds
2015-01-29 17:18:22.194 GossipExample[6878:3d07] Gossip: dispatchRegistrationState(0)
2015-01-29 17:18:25.343 GossipExample[6878:60b] Gossip: ringbackWithSoundNamed: /var/mobile/Applications/535D5F3F-C00E-41EA-BFEC-C25266E731D0/GossipExample.app/ringtone.wav
2015-0

[2015-01-29 22:35] johnryan commented on #21
Do you have any sample code? You need to retain the call (i.e. by using a property) when using ARC otherwise the call will be released.

[2015-01-29 22:40] #20 closed

[2015-01-29 22:42] johnryan opened #22 "Crash when starting outgoing call"
Got a SIGABRT ABORT when trying to begin a call...not sure how to reproduce it, but does anyone know what might cause this?

Thread : Crashed: com.apple.main-thread
0  libsystem_kernel.dylib         0x33d90dfc __pthread_kill + 8
1  libsystem_pthread.dylib        0x33e0ed37 pthread_kill + 62
2  libsystem_c.dylib              0x33d30909 abort + 76
3  libsystem_c.dylib              0x33d10369 basenam

[2015-01-30 09:39] liyoro commented on #21
i just run the demo,when makecall,Disconnected

[2015-02-26 18:36] orkenstein commented on #17
I can not eve build it.

[2015-02-26 19:10] orkenstein opened #23 "Docs submodule is dirty"
After submodules checkout:

[code]

[2015-03-17 08:40] alexledovskiy opened #24 "ip to ip local call not working"
Hey guys,

I can't make local ip to ip call. The call is just not getting though. Any ideas on why this might be happening?

[2015-05-14 15:23] milldol1984 opened #25 "_config reset to nil after pjsua_acc_config_default(&accConfig);"
Hi chakrit,
I saw a really weird behavior in method (of file GSAccount.m)
- (BOOL)configure:(GSAccountConfiguration *)configuration {
    _config = [configuration copy];
    // prepare account config
    pjsua_acc_config accConfig;
    pjsua_acc_config_default(&accConfig);

   .....
}
After pjsua_acc_config_default(&accConfig);
_config is set to nil
so it can't setup the sip account anymore.
Could

[2015-05-17 19:14] Harold-D commented on #13
Hello Chakrit,

What is the status of the Gossip pod?

[2015-07-09 18:03] johnryan opened #26 "Crash on configure on iOS9"
Currently getting a bad access when configuring with iOS9
[code]

Has anyone else seen this?

[2015-07-14 12:46] mayuur opened #27 "Is there support for Video?"
How do I integrate video support for this library?

[2015-07-14 19:50] johnryan commented on #26
Note this is on an iPhone 6 device, it seems to work in the simulator

[2015-10-07 21:34] volchanka commented on #12
@jyotiSharma1 you need to build PJSIPs
https://github.com/chakrit/gossip#build-pjsips
"Before GOSSIP will build, you must first have a working PJSIP binary either by:
...
For example, to create a new build for arm64, try the following:
$ cd gossip
$ cd pjsip
$ ./pjsip arm64
$ ./pjsip info arm64
"

[2015-12-15 12:02] SajjadRaza commented on #9
Hi,
Any Update on this thread

[2016-01-18 13:23] Providnuk opened #28 "encryption"
Is it possible to encrypt output buffer of speex codec? If yes, where to do that in pjsip?

[2016-02-18 11:36] Talha-Ghous opened #29 "Gosip with latest PJSIP"
Can we use gossip wrapper with latest pjsip version?

[2016-02-18 11:41] xdurand commented on #29
I use PJSIP version 2.4.0 and it works with Gossip, I assume it also works with the 2.4.5 version :)

[2016-02-18 14:01] Talha-Ghous commented on #29
@xdurand  Thanks for your reply
Hi, did you implemented Incoming call in your project or only outgoing call?

[2016-02-18 14:21] SajjadRaza opened #30 "603 is received on Server side"
Hi,
 I am using gossip in my project and have implemented Incoming Call in my project. Everything works fine untill user relogin to the app or changes the port.
I am calling the configureUserAgent method at that moment and it successfully initialize the new object of GSUserAgent. But when i receive the incoming call, a message of 603 is sent to server. I am no sending this messages to server side

[2016-03-11 17:08] othmaan commented on #7
Same here. I cannot connect to SIP server.

[2016-03-11 20:17] othmaan commented on #7
Update: sip2sip works for me, onsip won't work

[2016-03-31 23:30] entangledloops commented on #7
You misspelled the proxy server address. Should be `sip.getonsip.com`, you have `sip.onsip.com`.

[2016-05-13 14:23] szigetics opened #31 "IPv6"
Hello!

  Now that Apple made it necessary to support IPv6 networks ( https://developer.apple.com/news/?id=05042016a ) , I am trying to run the project in NAT64 environment.

  I am running into some issues...

I've already updated the config_site.h file to contain this line as well :
`#define PJ_HAS_IPV6 1`

+ I've modified the code to have IPv6 enabled :
`pjsua_acc_config accConfig;
    pjsua_ac

[2016-05-17 10:37] saravnandm commented on #6
Refer my git contribution.https://github.com/saravanandm/pjsip-g729codec  It works well, tested with ios app.

[2016-06-01 04:01] meghaParmar commented on #6
Hi Saravandm,
I downloaded your patches, but unable to configure it with my code. Please give steps to use them.

[2016-06-01 04:28] dmsaravanan commented on #6
What is the issue? Did you follow the patches(steps)? for details create an issue in my repo https://github.com/saravanandm/pjsip-g729codec

[2016-06-01 04:47] meghaParmar commented on #6
Hi Sarvanandm,
Thanks for reply and patch.
I am little-bit confuse with integrate your patch and my source. It's look like you clone pjsip source from git.
It will be appreciable if you provide me original source repo of pjsip or any link in which this patch works.

[2016-06-01 05:01] meghaParmar commented on #6
I think this https://github.com/chakrit/pjsip is your repo but will this work with latest source of pjsip if follow all steps.
Please help me out.

[2016-06-01 05:15] dmsaravanan commented on #6
I think https://github.com/chakrit/pjsip  source should work with my patches i have tested with pjsip2.0. More than 2 years back.

[2016-06-01 05:17] dmsaravanan commented on #6
Soon will update my patches for latest version of pjsip. If you need anything further command it on my repo.

[2016-06-01 12:59] meghaParmar commented on #6
Thanks for your continuous effort. I am trying to apply your repo in my project. I will reply you here if got any problem with that.
Your help is really appreciable.

[2016-06-03 09:20] saravnandm commented on #6
Patch update for pjsip 2.5 https://github.com/saravanandm/pjsip2.5-g729codec

[2016-06-03 09:24] xdurand commented on #29
Sorry for the (very) late answer @Talha-Ghous!
We've done both incoming and outgoing calls, and it's now running with PJSIP newest version, 2.5

[2016-06-03 10:02] Talha-Ghous commented on #29
Thanks for your kind reply. its really helpful.l

Talha Ghous
E talhaghous125@gmail.com
T +92 302 2282228

On Fri, Jun 3, 2016 at 2:24 PM, Xavier Durand notifications@github.com
wrote:

[2016-06-06 07:03] meghaParmar commented on #6
Hi Sarvanandam,
I followed your link and applied patches , after that I tried to build using "make dep"

This command throws following error:
`ld: library not found for -lg729codec-armv7-apple-darwin_ios
clang: error: linker command failed with exit code 1 (use -v to see invocation)
make[2]: *** [../bin/pjmedia-test-armv7-apple-darwin_ios] Error 1
make[1]: *** [pjmedia-test-armv7-apple-darwin_ios]

[2016-06-08 08:35] Talha-Ghous commented on #29
@xdurand could you please guide me step by step that how did you use latest PJSIP version with GOSSIP . It would be very helpful. Thanks

[2016-06-09 04:17] sanmarcos opened #32 "fatal: reference is not a tree: 34fcf7a8574c80fb23a3e22b57bc3b38eafe3837"
On git submodule update --recursive
[code]

[2016-06-14 22:36] marcAmazon opened #33 "Invalid"
Invalid

[2016-06-14 22:37] marcAmazon opened #34 "Invalid"
Invalid

[2016-06-14 22:38] #34 closed

[2016-06-14 22:38] #33 closed

[2016-06-21 15:22] kid304 commented on #31
I have the same issue also

[2016-07-18 21:29] azav opened #35 "Question about + (NSString *)stringWithPJString:(const pj_str_t *)pjString;"
Is there a reason why you went with your approach over this?

+ (NSString *)stringFromPJCharString:(const pj_str_t *)pjString
{
    NSString *result = [NSString stringWithCString:pjString->ptr encoding:NSASCIIStringEncoding];
    return result;
}

And use it like this:
NSString *someStringFromSomePJString = [PJUtil stringFromPJCharString:&my_pj_str]];

[2016-07-25 05:15] Joker666 commented on #29
+1

[2016-07-25 05:19] Joker666 commented on #9
+1

[2016-07-25 07:18] SURENDRA7700 opened #36 "hi in this example where i have to configure my sip details and how to call please send me sample code"
Hi
I submited my details in gossip while making call no action and while came to first tableview crashing

[2016-07-25 08:38] SURENDRA7700 opened #37 "crash after disconnect and switch accounts"
14:06:48.425 os_core_unix.c !pjlib 2.2.1-svn for POSIX initialized
14:06:48.427 sip_endpoint.c  .Creating endpoint instance...
14:06:48.428          pjlib  .select() I/O Queue created (0x13e858a28)
14:06:48.428 sip_endpoint.c  .Module "mod-msg-print" registered
14:06:48.428 sip_transport.  .Transport manager created.
14:06:48.428   pjsua_core.c  .PJSUA state changed: NULL --> CREATED
14:06:48.504

[2016-07-26 18:25] jimchao commented on #25
Hi, did you solve the problem?

[2016-08-06 13:05] daiKratos opened #38 "'pj/config_site.h' file not found"
![2016-08-06 21 01 04](https://cloud.githubusercontent.com/assets/5122072/17456903/6ab1de52-5c19-11e6-80ce-cee6dc7fa21f.png)

I build it with the lasted Xcode and got this problem. Any idea?

[2016-09-20 04:33] meghaParmar commented on #31
Hello !
I am facing the same issue. Tried this same way also with pjsip 2.5.5 library. Please let me know if is there any solution found. It will be very very helpful to me.

Thanks.

[2016-09-23 07:38] pirrest commented on #38
The same for me on Xcode Version 8.0 (8A218a)

[2016-09-23 07:46] pirrest commented on #38
I found a workaround in comment to pull request #15 :
"after pjsip submodule is downloaded, I still need to copy 'pjsip/config_site.htopjsip/src/pjlib/include/pj/config_site.h` to make it build. may need to add that to readme.md"
Now I can build gossip

[2016-12-14 12:10] liuzhanfeng commented on #38
I also met this problem. How can I solve?I don't understand 'pjsip/config_site.htopjsip/src/pjlib/include/pj/config_site.h`Hope to be able to help me.Thank you very much

[2017-04-28 12:58] vijay-peaas opened #40 "Does Gossip have a support for IPv6?"
Hi,
  I am currently using gossip for VOIP calling functionality. Our iOS application is rejected by Apple saying that it should support IPv6. Does gossip have a support for it? If so then how can we enable it? Will it support both IPv4 and IPv6?

Regards
Vijay

[2017-08-15 16:56] buildwithgagan commented on #38
Did you get it to work ?

[2017-08-15 17:00] neoD1 opened #41 "'pj/config_site.h' file not found"
Hello

Can you build a pod for the same , that would save a lot of troubles integrating this library !
Thanks

[2017-12-15 08:09] 0atme0 opened #42 "Crash after will enter foreground"
![2017-12-15 11 06 24](https://user-images.githubusercontent.com/19185306/34032639-2ac613b2-e188-11e7-9a6f-940e90acb88f.png)

[2018-01-09 13:28] ekscrypto opened #43 "Licensing issue - Public Domain"
Would it be possible to dual-license the code or to change the license to one that is applicable globally?  See this discussion thread with the issues related to the "Unlicensed" aka "Public Domain"

https://softwareengineering.stackexchange.com/questions/147111/what-is-wrong-with-the-unlicense

thank you

[2019-02-07 13:00] almazka opened #44 "User-Agent header"
Hello friend!
How can I add a user_agent header ?

[2022-04-28 04:12] #13 closed, assigned to nobody